body {
	margin-top: 0;
	margin-bottom: 0;
}
body > header {
	margin-bottom: 20px;
}
body > footer {
	background: #d5d5bC;
}
body > footer ul {
	list-style-type: none;
}
img {
    max-width: 100%;
}
.sidebar {
    padding: 0;
    border-right: 1px solid #ddd;
}
.sidebar .category-heading {
    margin:     0;
    padding:    10px;

    background: #eee;
    border-bottom: 1px solid #ddd;
}
.sidebar .media {
    cursor: pointer;

    margin: 0;
    padding: 15px 10px;

    background: #fff;
    border-bottom: 1px solid #ddd;
}
.sidebar .media .media-object {
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.sidebar .media .media-object img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar .media .details {
    background: #fff;
    padding:    15px 0;
    border:     1px solid #ccc;
}
.sidebar .media.active {
    cursor:     default;
    background: #f2f2f2;
}

.content {
    padding-left:   30px;
    padding-top:    15px;
}

.content img {
    margin-bottom: 15px;
}
h2 {
    margin-top: 0;
}
.item, .post-image {
    text-align: center;
    background: #f2f2f2;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;

    -webkit-box-shadow: 0 0 5px #ccc;
       -moz-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
}
.item-image {
    max-width:  95%;
    max-height: 600px;
    margin:     10px auto;
}
.item {
    height:     260px;
    position:   relative;
}
.item .inner {
	display:   block;
    margin:    10px;

    overflow:   hidden;
    height:     230px;
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
}
.item h3 {
    margin-bottom: 10px;
}
.item-image.portrait {
    float: left;
    margin: 0 20px 20px 0;
}
.item-thumb {
    max-width:  100%;
    max-height: 100%;
}
.item-details {
    margin-bottom: 20px;
}
.item-details label {
    font-weight: bold;
    margin-right: 10px;
}

.trading .wanted {
    color:          #999;
    font-weight:    bold;
    font-size:      90%;
}
.woot img {
    height:     24px;
    position:   relative;
    top:        7px;
}
footer .sales {
    font-weight:    bold;
    min-height:     100px;
    text-align:		left;
}
